body {
    color: #5A5A5A;
    font-family: 'Times New Roman', Times, serif;
}
#title {font-size: 20px;}
#balance-amount {
    text-align: center;
    border: 3px solid orange;
}
#balance-amount p {margin: 10px 0px;}
#top-row {
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    font-size: 20px;
    font-weight: bold;
}
#products-col {
    max-width:85%;
    margin: 20px auto;
}
.center {text-align: center;}
.vert-horiz-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.border-top {border-top: 3px solid #5A5A5A !important;}
.fs-20 {font-size: 20px;}
.fs-40 {font-size: 40px;}
.fs-45 {font-size: 45px;}
.fs-70 {font-size: 70px;}
.bold {font-weight: bold;}
.marg-b-50 {margin-bottom: 50px;}
.marg-t-40 {margin-top: 40px;}
.product {
    border: 2px solid #FFF;
    height: 400px;
}
.prod-description {
    padding-left: 20px;
    font-size: 20px;
}
.prod-single {
    max-width: 70%;
}
.add-to-plate-btn {color: #FFF;}

.product {height: 100%;}
@media screen and (max-width: 1200px) {
    .product {
        width: 100%;
        /* height: 100%; */
    }
}

@media screen and (max-width: 1200px) {
    .m-none {
        display:none;
    }
}

@media screen and (max-width: 1200px) {
    .m-col-float-right {
        float:right;
    }
}

.small-taco {
    width: 20%;
    object-fit: fill;
}
@media screen and (max-width: 745px) {
    .small-taco {
        width: 30%;
        /* height: 100%; */
    }
}